@model string
@{
    string StatusContainer = Model + "Container";
    string StatusUL = Model + "UL";
}



    <!-- home end -->
    <!-- print and send New addition start -->
    <span class="dropdown table-dp-down export-dropdown" @(Model == null ? "hidden" : "")>

        <button id="exportToggle" type="button" class="tb-text grey ps-2">
            <i class="bi bi-box-arrow-in-down"></i>&nbsp;
            Print/Export <i class="bi bi-chevron-down"></i>
        </button>
        <ul class="export-menu dropdown-menu bha-dp" id="exportMenu" style="margin-left: 70px;">
            <!--copy-->
            <li class="bha-menu">
                <span data-export="copy">
                    <a class="dropdown-item" href="#">
                        <!-- svg icon -->
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.60065 15.6665H5.06732C2.14065 15.6665 0.833984 14.3598 0.833984 11.4332V8.89984C0.833984 5.97317 2.14065 4.6665 5.06732 4.6665H7.06732C7.34065 4.6665 7.56732 4.89317 7.56732 5.1665C7.56732 5.43984 7.34065 5.6665 7.06732 5.6665H5.06732C2.68065 5.6665 1.83398 6.51317 1.83398 8.89984V11.4332C1.83398 13.8198 2.68065 14.6665 5.06732 14.6665H7.60065C9.98732 14.6665 10.834 13.8198 10.834 11.4332V9.43317C10.834 9.15984 11.0607 8.93317 11.334 8.93317C11.6073 8.93317 11.834 9.15984 11.834 9.43317V11.4332C11.834 14.3598 10.5273 15.6665 7.60065 15.6665Z" fill="currentColor"></path>
                            <path d="M11.3331 9.93316H9.19974C7.32641 9.93316 6.56641 9.17316 6.56641 7.29983V5.1665C6.56641 4.9665 6.68641 4.77983 6.87307 4.7065C7.05974 4.6265 7.27307 4.67316 7.41974 4.81316L11.6864 9.07983C11.8264 9.21983 11.8731 9.43983 11.7931 9.6265C11.7197 9.81316 11.5331 9.93316 11.3331 9.93316ZM7.56641 6.37316V7.29983C7.56641 8.6265 7.87307 8.93316 9.19974 8.93316H10.1264L7.56641 6.37316Z" fill="currentColor"></path>
                            <path d="M10.3991 2.3335H7.73242C7.45909 2.3335 7.23242 2.10683 7.23242 1.8335C7.23242 1.56016 7.45909 1.3335 7.73242 1.3335H10.3991C10.6724 1.3335 10.8991 1.56016 10.8991 1.8335C10.8991 2.10683 10.6724 2.3335 10.3991 2.3335Z" fill="currentColor"></path>
                            <path d="M4.66602 4.3335C4.39268 4.3335 4.16602 4.10683 4.16602 3.8335C4.16602 2.4535 5.28602 1.3335 6.66602 1.3335H8.41268C8.68602 1.3335 8.91268 1.56016 8.91268 1.8335C8.91268 2.10683 8.68602 2.3335 8.41268 2.3335H6.66602C5.83935 2.3335 5.16602 3.00683 5.16602 3.8335C5.16602 4.10683 4.93935 4.3335 4.66602 4.3335Z" fill="currentColor"></path>
                            <path d="M12.793 12.3335C12.5196 12.3335 12.293 12.1068 12.293 11.8335C12.293 11.5602 12.5196 11.3335 12.793 11.3335C13.553 11.3335 14.1663 10.7135 14.1663 9.96016V5.8335C14.1663 5.56016 14.393 5.3335 14.6663 5.3335C14.9396 5.3335 15.1663 5.56016 15.1663 5.8335V9.96016C15.1663 11.2668 14.0996 12.3335 12.793 12.3335Z" fill="currentColor"></path>
                            <path d="M14.666 6.33349H12.666C10.8927 6.33349 10.166 5.60682 10.166 3.83349V1.83349C10.166 1.63349 10.286 1.44682 10.4727 1.37349C10.6593 1.29349 10.8727 1.34016 11.0193 1.48016L15.0193 5.48015C15.1593 5.62016 15.206 5.84016 15.126 6.02682C15.0527 6.21349 14.866 6.33349 14.666 6.33349ZM11.166 3.04016V3.83349C11.166 5.05349 11.446 5.33349 12.666 5.33349H13.4593L11.166 3.04016Z" fill="currentColor"></path>
                        </svg>
                        <!-- end -->
                        Copy
                    </a>
                </span>
            </li>           
            <li class="bha-menu">
                <span data-export="print">
                    <a class="dropdown-item" href="#">
                        <!-- svg icon -->

                        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.5625 6.3125H5.4375C5.13 6.3125 4.875 6.0575 4.875 5.75V4.25C4.875 2.33 5.7675 1.4375 7.6875 1.4375H10.3125C12.2325 1.4375 13.125 2.33 13.125 4.25V5.75C13.125 6.0575 12.87 6.3125 12.5625 6.3125ZM6 5.1875H12V4.25C12 2.975 11.5875 2.5625 10.3125 2.5625H7.6875C6.4125 2.5625 6 2.975 6 4.25V5.1875Z" fill="currentColor"></path>
                            <path d="M9.75 17.5625H8.25C6.435 17.5625 5.4375 16.565 5.4375 14.75V11.75C5.4375 11.4425 5.6925 11.1875 6 11.1875H12C12.3075 11.1875 12.5625 11.4425 12.5625 11.75V14.75C12.5625 16.565 11.565 17.5625 9.75 17.5625ZM6.5625 12.3125V14.75C6.5625 15.935 7.065 16.4375 8.25 16.4375H9.75C10.935 16.4375 11.4375 15.935 11.4375 14.75V12.3125H6.5625Z" fill="currentColor"></path>
                            <path d="M13.5 14.5625H12C11.6925 14.5625 11.4375 14.3075 11.4375 14V12.3125H6.5625V14C6.5625 14.3075 6.3075 14.5625 6 14.5625H4.5C2.685 14.5625 1.6875 13.565 1.6875 11.75V8C1.6875 6.185 2.685 5.1875 4.5 5.1875H13.5C15.315 5.1875 16.3125 6.185 16.3125 8V11.75C16.3125 13.565 15.315 14.5625 13.5 14.5625ZM12.5625 13.4375H13.5C14.685 13.4375 15.1875 12.935 15.1875 11.75V8C15.1875 6.815 14.685 6.3125 13.5 6.3125H4.5C3.315 6.3125 2.8125 6.815 2.8125 8V11.75C2.8125 12.935 3.315 13.4375 4.5 13.4375H5.4375V11.75C5.4375 11.4425 5.6925 11.1875 6 11.1875H12C12.3075 11.1875 12.5625 11.4425 12.5625 11.75V13.4375Z" fill="currentColor"></path>
                            <path d="M12.75 12.3125H5.25C4.9425 12.3125 4.6875 12.0575 4.6875 11.75C4.6875 11.4425 4.9425 11.1875 5.25 11.1875H12.75C13.0575 11.1875 13.3125 11.4425 13.3125 11.75C13.3125 12.0575 13.0575 12.3125 12.75 12.3125Z" fill="currentColor"></path>
                            <path d="M7.5 9.3125H5.25C4.9425 9.3125 4.6875 9.0575 4.6875 8.75C4.6875 8.4425 4.9425 8.1875 5.25 8.1875H7.5C7.8075 8.1875 8.0625 8.4425 8.0625 8.75C8.0625 9.0575 7.8075 9.3125 7.5 9.3125Z" fill="currentColor"></path>
                        </svg>
                        <!-- end -->
                        Print
                    </a>
                </span>
            </li>
        </ul>

    </span>
    
    <!-- print and send -->
    <span class="dropdown table-dp-down" id="@StatusContainer" @(Model == null ? "hidden" : "") style="padding-left:10px;">
        <button class="tb-text grey" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="PropertyStatus">
            Status<i class="bi bi-chevron-down"></i>
        </button>
        <ul class="dropdown-menu bha-dp" id="@Model">
        </ul>
    </span>
    <!-- in active -->    

    <button id="btnListViewFullScreen">
        <i class="bi bi-arrows-angle-expand ps-2 pe-2 fw-bold" style="font-size: 16px; color: #007E87" @(Model == null ? "hidden" : "")></i>
    </button>
